table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Add this to your cardDetailes.css or create a new CSS file */

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

strong {
    margin-right: 8px;
    font-weight: bold;
}

/* Customize styles as needed */